* {
  margin: 0;
  padding: 0;
  font-family: Geneva, Tahoma, sans-serif;
}

body {
  background-color: rgb(123, 125, 168);
}

.boxUser {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3px auto;
  width: 80%;
  height: 20vh;
  background: linear-gradient(180deg, rgba(57,58,94,1) 0%, rgba(40,42,63,1) 100%);
}

img {
  margin: 0 10px 0 30px;
  height: 95px;
  border-radius: 50%;

}

.divText {
  color: white;
  font-weight: bold;
  width: 70%;

}

button {
  height: 20px;
  margin-right: 30px;
  width: 60px;
}

.modal {
  border: 1px solid rgba(57,58,94,1);
  background-color: white;
  width: 30vw;
  height: 20vh;
  position: fixed;
  left: 35vw;
  top: 25vh;
  display: none;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
}

.headerDropdown {
  display: block;
  padding: 5vh 0 5vh 15px;
  color: white;
  font-weight: bold;
  background-color:  rgba(57,58,94,1);
}

span {
  color: #CDDB3A;
}

.bodyDropdown {
  height: 30vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputDropdown {
  margin: 20px 0 20px 0;
  height: 25px;
  width: 80%;
}

.selectDropdown {
  margin-bottom: 20px;
  font-weight: bold;
  height: 25px;
  width: 70%;
}

.buttonDropdown {
  font-weight: bold;
  margin: 0 0 20px 0;
}